<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Profits in the past month</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/clear}">
    	<p th:text="'Profit: ' + ${feeCalculator.profit}" />
    	<p th:text="'Fees paid: ' + ${feeCalculator.fees}" />
    	<a href="/">Add another transaction</a>
    	<p><input type="submit" value="Clear transactions" formmethod="post"/></p>
    </form>
</body>
</html>